.html:not(.page-admin) {
  padding-top: 162px;
}

.html:not(.page-admin).toolbar {
  padding-top: 176px !important;
}

.html:not(.page-admin).toolbar.search-form-extended.front, .html:not(.page-admin).toolbar.search-form-extended.not-front {
  padding-top: 311px !important;
}

.html:not(.page-admin).toolbar.search-form-extended.not-front.extended-search-is-not-open {
  padding-top: 311px !important;
}

.html:not(.page-admin).toolbar.has-second-level-menu {
  padding-top: 288px !important;
}

.html:not(.page-admin).admin-menu.search-form-extended.front, .html:not(.page-admin).admin-menu.search-form-extended.page-search {
  padding-top: 246px !important;
}

.html:not(.page-admin).admin-menu.has-second-level-menu {
  padding-top: 223px !important;
}

.html:not(.page-admin).admin-menu.search-form-extended.not-front.extended-search-is-not-open {
  padding-top: 162px;
}

.html:not(.page-admin).has-second-level-menu {
  padding-top: 223px;
}

@media screen and (max-width: 950px) {
  .html:not(.page-admin).has-second-level-menu {
      padding-top: 162px;
  }
}

.html:not(.page-admin).search-form-extended.front, .html:not(.page-admin).search-form-extended.not-front {
  padding-top: 246px;
}

@media screen and (max-width: 950px) {
  .html:not(.page-admin).search-form-extended.front, .html:not(.page-admin).search-form-extended.not-front {
      padding-top: 162px;
  }
}

.html:not(.page-admin).search-form-extended.front.has-second-level-menu, .html:not(.page-admin).search-form-extended.not-front.has-second-level-menu {
  padding-top: 307px;
}

@media screen and (max-width: 950px) {
  .html:not(.page-admin).search-form-extended.front.has-second-level-menu, .html:not(.page-admin).search-form-extended.not-front.has-second-level-menu {
      padding-top: 162px;
  }
}

.html:not(.page-admin).search-form-extended.not-front.extended-search-is-not-open {
  padding-top: 162px;
}

.html:not(.page-admin) .site-header .topbar::before {
  content: '';
  position: relative;
  z-index: 100;
  display: block;
  width: 100%;
  height: 14px;
  background: url(../images/color-band.png);
  background-size: 100% auto;
  background-repeat-x: no-repeat;
}

.html:not(.page-admin) .site-header > .header-wrapper {
  top: 78px;
}

.search-form-extended.toolbar.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 59px;
}

.search-form-extended.admin-menu.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 211px;
}

.search-form-extended.front.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 78px;
}

.search-form-extended.not-front.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 162px;
}

.search-form-extended.not-front.extended-search-is-not-open.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 74px;
}

.search-form-extended.front.toolbar.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 143px;
}

.search-form-extended.not-front.toolbar.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 143px;
}

.search-form-extended.front.admin-menu.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 107px;
}

.search-form-extended.not-front.admin-menu.extended-search-is-not-open.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 78px;
}

.search-form-extended.not-front.admin-menu.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 191px;
}

.extended-search-is-open.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 78px;
}

.extended-search-is-open.toolbar.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 143px;
}

.extended-search-is-open.admin-menu.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 107px;
}

.mobile-search-is-open.html:not(.page-admin) .site-header > .header-wrapper .header-inner .pane-search-form {
  top: 162px !important;
}

.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 78px;
}

@media screen and (max-width: 950px) {
  .html:not(.page-admin) .site-header > .navigation-wrapper.has-touch.html:not(.page-admin) .site-header > .navigation-wrapper {
      top: auto;
  }
}

.toolbar.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 143px;
}

.admin-menu.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 107px;
}

.search-form-extended.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 78px;
}

.search-form-extended.toolbar.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 143px;
}

.search-form-extended.admin-menu.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 107px;
}

.search-form-extended.front.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 162px;
}

.search-form-extended.front.toolbar.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 227px;
}

.search-form-extended.front.admin-menu.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 191px;
}

.extended-search-is-open.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 162px;
}

.extended-search-is-open.toolbar.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 227px;
}

.extended-search-is-open.admin-menu.html:not(.page-admin) .site-header > .navigation-wrapper {
  top: 191px;
}

@media screen and (max-width: 950px) {
  .html:not(.page-admin) .site-header > .navigation-wrapper .navigation-inner {
      top: 0;
  }
}

.html:not(.page-admin) .site-header > .navigation-wrapper .navigation-inner .pane-menu-block-main-menu-second-level {
  top: 162px;
}

.toolbar.html:not(.page-admin) .site-header > .navigation-wrapper .navigation-inner .pane-menu-block-main-menu-second-level {
  top: 227px;
}

.admin-menu.html:not(.page-admin) .site-header > .navigation-wrapper .navigation-inner .pane-menu-block-main-menu-second-level {
  top: 191px;
}

.html:not(.page-admin) .site-header.topbar-up .topbar {
  -webkit-transform: translateY(-78px);
  -moz-transform: translateY(-78px);
  -ms-transform: translateY(-78px);
  -o-transform: translateY(-78px);
  transform: translateY(-78px);
}

@media screen and (max-width: 950px) {
  .html:not(.page-admin).pane-login-is-open .pane-user-login {
      -webkit-transform: translateY(162px);
      -moz-transform: translateY(162px);
      -ms-transform: translateY(162px);
      -o-transform: translateY(162px);
      transform: translateY(162px);
  }
}

.html:not(.page-admin) .footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 14px;
  background: #e23403;
  -moz-linear-background-image: linear-gradient(to right, #e23403 0%, #e23403 9.09%, #f07800 9.09%, #f07800 18.18%, #eee9a0 18.18%, #eee9a0 27.27%, #f4ef87 27.27%, #f4ef87 36.36%, #cbf44c 36.36%, #cbf44c 45.45%, #73b400 45.45%, #73b400 54.54%, #31483a 54.54%, #31483a 63.63%, #d8d8d7 63.63%, #d8d8d7 72.72%, #72a29a 72.72%, #72a29a 81.81%, #436971 81.81%, #436971 90.9%, #001a28 90.9%, #001a28 100%);
  -webkit-linear-background-image: linear-gradient(to right, #e23403 0%, #e23403 9.09%, #f07800 9.09%, #f07800 18.18%, #eee9a0 18.18%, #eee9a0 27.27%, #f4ef87 27.27%, #f4ef87 36.36%, #cbf44c 36.36%, #cbf44c 45.45%, #73b400 45.45%, #73b400 54.54%, #31483a 54.54%, #31483a 63.63%, #d8d8d7 63.63%, #d8d8d7 72.72%, #72a29a 72.72%, #72a29a 81.81%, #436971 81.81%, #436971 90.9%, #001a28 90.9%, #001a28 100%);
  background-image: linear-gradient(to right, #e23403 0%, #e23403 9.09%, #f07800 9.09%, #f07800 18.18%, #eee9a0 18.18%, #eee9a0 27.27%, #f4ef87 27.27%, #f4ef87 36.36%, #cbf44c 36.36%, #cbf44c 45.45%, #73b400 45.45%, #73b400 54.54%, #31483a 54.54%, #31483a 63.63%, #d8d8d7 63.63%, #d8d8d7 72.72%, #72a29a 72.72%, #72a29a 81.81%, #436971 81.81%, #436971 90.9%, #001a28 90.9%, #001a28 100%);
}
